.title {
    color: rgb(221, 80, 80);
    align-items: center;
    
}


.header {
background-color: red;
display: flex;

}



.container {
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
}




body {

    background: gray;
    }
nav{
    color:gray;

    display: flex;
    justify-content: space-around;

}

table{
    color: black;
    
}

th{
    background-color:#4CAF50;
    color: white     ;
    text-align: center;
     
}

td{
    text-align: center;
    
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    color: blue;
  }
  
  .container {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    width: 200px;
    height: 100px;
    margin: 10px;
  
  }
  
  .colorRed {
    background-color:red;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
  
  .colorBlue {
    background-color: rgb(146, 86, 202);
    width: auto;
    max-width: 20%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: column;
    flex-direction: column;
   
  
  
  }
  
  .colorGreen {
    background-color: rgb(28, 77, 26);
    width: auto;
    max-width: 70%;
    display: flex;
    height: auto;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
  
  }
  
  