.title {
    color: rgb(221, 80, 80);
    align-items: center;
    
}

.container {
    background-color: rosybrown;
    display: flex;
    flex-wrap: wrap;

}




body {

    back
    }
h2{
    color: rgb(31, 30, 30);
    
}

h3{
    color: black;
}

nav{
    color:gray;

    display: flex;
    justify-content: space-around;

}

table{
    color: black;
    
}

th{
    background-color:#4CAF50;
    color: white     ;
    text-align: center;
     
}

td{
    text-align: center;
    
}
tr:nth-child(even){background-color:rgba(155, 150, 146, 0.836)
    ;}
tr:hover{background-color:rgb(94, 93, 92);}

.center {
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    color: blue;
  }
  
  .container {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    width: 200px;
    height: 100px;
    margin: 10px;
  
  }
  
  .colorRed {
    background-color: rgb(184, 64, 64);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .colorBlue {
    background-color: rgb(146, 86, 202);
    width: auto;
    max-width: 20%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: column;
    flex-direction: column
    
  
  
  }
  
  .colorGreen {
    background-color: rgb(28, 77, 26);
    width: auto;
    max-width: 70%;
    height: auto;
    overflow: hidden;
    
    
    
  
  }
  
  }