body {
    background-image: url("https://i.pinimg.com/originals/cb/7f/d1/cb7fd1aaf24a5fa06289691568dd0873.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    }
h2{
    color: black;
    
}

h3{
    color: black;
}

nav{
    color: black;
    
}

table{
    color: black;
    
}

th{
    background-color:#4CAF50;
    color: white     ;
    text-align: center;
     
}

td{
    text-align: center;
    
}
tr:nth-child(even){background-color: #fae900;}
tr:hover{background-color:rgb(240, 137, 62);}