.container {
    background-color: rgb(9, 201, 89);
    width: 70%;
    height: 600px;
    margin: 10px;
}

.nav1 {
    background-color: rgb(245, 37, 37);
    width: 250px;
    height: 250px;
    margin: 10px;
}
.nav2 {
    background-color: rgb(245, 37, 37);
    width: 250px;
    height: 250px;
    margin: 10px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.container2 {
    background-color: rgb(0, 195, 255);
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.container3 {
    background-color: rgb(0, 195, 255);
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
}

.container4 {
    background-color: rgb(0, 195, 255);
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.container5 {
    background-color: rgb(0, 195, 255);
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.container6 {
    background-color: rgb(0, 195, 255);
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container7 {
    background-color: rgb(0, 195, 255);
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container8 {
    background-color: rgb(0, 195, 255);
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
}

.container9 {
    background-color: rgb(0, 195, 255);
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.container10 {
    background-color: rgb(0, 195, 255);
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container11 {
    background-color: rgb(0, 195, 255);
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container12 {
    background-color: rgb(0, 195, 255);
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
}
.menu {
    padding: 0.70rem;
    margin: 2px;
    background-color: rgb(255, 255, 0);
    text-decoration: none;
    color: black;
    transition: 0.3s; 
}
.menu:hover {
    padding: 0.70rem;
    margin: 2px;
    background-color: rgb(0, 151, 0);
    text-decoration: none;
    color: black;
    


}
.menu2 {
    padding: 0.70rem;
    margin: 2px;
    background-color: rgb(255, 255, 0);
    text-decoration: none;
    color: black;
    transition: 0.45s; 
}
.menu2:hover {
    padding: 1.10rem;
    margin: 2px;
    background-color: pink;
    text-decoration: none;
    color: black;
    
}
.menu3 {
    padding: 0.70rem;
    margin: 2px;
    background-color: rgb(255, 255, 0);
    text-decoration: none;
    color: black;
    transition: 0.45s; 
    display: block;
}
.menu3:hover {
    padding-left: 2rem;
    margin: 2px;
    background-color: rgb(0, 151, 0);
    text-decoration: none;
    color: black;
}
.menu4 {
    padding: 0.70rem;
    margin: 2px;
    background-color: rgb(255, 255, 0);
    text-decoration: none;
    color: black;
    transition: 0.45s; 
    display: block;
}
.menu4:hover {
    padding-left: 0.70rem;
    margin: 2px;
    background-color: rgb(0, 151, 0);
    text-decoration: none;
    color: black;
    transform: rotate(45deg);
}    