body{
    background:rgb(160, 148, 148);
}
.photo {
    background-color: rgb(83, 31, 15);
    margin: 10px;
    padding: 0px;
    width: 320px;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    border: 1px solid black;
  }

  .zdj1 {
      background-image: url(https://s2.tvp.pl/images2/b/7/c/uid_b7c6fc36f5f50ffd779a702b162914c81591034996859_width_1280_play_0_pos_0_gs_0_height_720_skoki-narciarskie-czeka-zmiana-jak-wielka-raczej-kosmetyczna-fot-getty.jpg);
  }

  .zdj1:hover {

    background-image: url(https://s2.tvp.pl/images2/b/7/c/uid_b7c6fc36f5f50ffd779a702b162914c81591034996859_width_1280_play_0_pos_0_gs_0_height_720_skoki-narciarskie-czeka-zmiana-jak-wielka-raczej-kosmetyczna-fot-getty.jpg);
  }

  .zdj2 {
      background-image: url(https://ocdn.eu/pulscms-transforms/1/XMNk9kpTURBXy84ZjlkYzVmZGQ1ZmJhMTMwYWVjZDY2ZWQyMjE1YjcxNy5qcGeTlQMAzIXNEL3NCWqTBc0DFM0BvJMJpjY3YzlhZAaBoTAB/dawid-kubacki.jpg);
  }

  .zdj2:hover {
      background-image: url(https://ocdn.eu/pulscms-transforms/1/XMNk9kpTURBXy84ZjlkYzVmZGQ1ZmJhMTMwYWVjZDY2ZWQyMjE1YjcxNy5qcGeTlQMAzIXNEL3NCWqTBc0DFM0BvJMJpjY3YzlhZAaBoTAB/dawid-kubacki.jpg);
  }

.zdj3 {
    background-image: url(https://www.radiomaryja.pl/wp-content/uploads/2020/03/polscy-skoczkowie.jpg);
}

.zdj3:hover {
    background-image: url(https://www.radiomaryja.pl/wp-content/uploads/2020/03/polscy-skoczkowie.jpg);
}

.zdj4 {
    background-image: url(https://i.iplsc.com/-/000AWD3GS0PIGQBG-C411.jpg);
}

.zdj4:hover {
    background-image: url(https://i.iplsc.com/-/000AWD3GS0PIGQBG-C411.jpg);
}

.zdj5 {
    background-image: url(https://s4.tvp.pl/images2/d/a/c/uid_dac32def052cd3e722c632832e838f611616155418615_width_1200_play_0_pos_0_gs_0_height_678_piotr-zyla-fot-getty-images.jpg);
}

.zdj5:hover {
    background-image: url(https://s4.tvp.pl/images2/d/a/c/uid_dac32def052cd3e722c632832e838f611616155418615_width_1200_play_0_pos_0_gs_0_height_678_piotr-zyla-fot-getty-images.jpg);

}

.zdj6 {
    background-image: url(https://www.skijumping.pl/content/images/news/powieksz/kranjec_lot_2009-03-19_12-35-25.jpg);
}

.zdj6:hover {
    background-image: url(https://www.skijumping.pl/content/images/news/powieksz/kranjec_lot_2009-03-19_12-35-25.jpg);
}
.zdj7 {
    background-image: url(https://s8.tvp.pl/images2/8/a/d/uid_8ad9684b777e4720d0519347ac24fa4d1549130588285_width_993_play_0_pos_0_gs_0_height_559.jpg);
}
.zdj7:hover {
    background-image: url(https://s8.tvp.pl/images2/8/a/d/uid_8ad9684b777e4720d0519347ac24fa4d1549130588285_width_993_play_0_pos_0_gs_0_height_559.jpg);
}
.zdj8 {
    background-image: url(https://ocdn.eu/pulscms-transforms/1/owyk9kpTURBXy81NWVjNjU3NGIzZjRjN2JlNTYxOTkzNzY3N2ExNTE1NS5qcGeUlQMAVc0QAM0JAJMFzQMUzQG8lQfZMi9wdWxzY21zL01EQV8vMjMzN2M5ZmQ2YjkzMWVlNmNiMGQyM2RjYmEyNThhOWQucG5nAMIAkwmmOTU5ZDdmBoGhMAE/tom-hilde-w-locie.jpg);
}

.zdj8:hover {
    background-image: url(https://ocdn.eu/pulscms-transforms/1/owyk9kpTURBXy81NWVjNjU3NGIzZjRjN2JlNTYxOTkzNzY3N2ExNTE1NS5qcGeUlQMAVc0QAM0JAJMFzQMUzQG8lQfZMi9wdWxzY21zL01EQV8vMjMzN2M5ZmQ2YjkzMWVlNmNiMGQyM2RjYmEyNThhOWQucG5nAMIAkwmmOTU5ZDdmBoGhMAE/tom-hilde-w-locie.jpg);
}
.zdj9 {
    background-image: url(https://ocdn.eu/pulscms-transforms/1/Bz3k9kuTURBXy8xMjAxN2Y2MC0xMTRjLTQ3YjctODBjYi1kOTg0ODMzZjhjMjQuanBlZ5OVAwB3zQ8gzQiCkwXNAxTNAbyTCaZhM2Y2YTUGgaEwAQ/timi-zajc.jpg);
}
.zdj9:hover {
    background-image: url(https://ocdn.eu/pulscms-transforms/1/Bz3k9kuTURBXy8xMjAxN2Y2MC0xMTRjLTQ3YjctODBjYi1kOTg0ODMzZjhjMjQuanBlZ5OVAwB3zQ8gzQiCkwXNAxTNAbyTCaZhM2Y2YTUGgaEwAQ/timi-zajc.jpg);
}
.zdj10 {
    background-image: url(https://i.iplsc.com/-/0006C6SDO8659VOP-C125-F4.jpg);
}
.zdj10:hover {
    background-image: url(https://i.iplsc.com/-/0006C6SDO8659VOP-C125-F4.jpg);
}
.zdj1-nazwa {
 background-color: rgb(224, 188, 188);
    color: rgb(19, 15, 15);
    padding: 5px;
    display: block;
    height: 24px; 
}

.galrzad {
      background-color: rgb(179, 179, 179);
        display:flex;
      
}