*{
  margin:0px;
  padding:0px;
}
  .title {
    color: rgb(27, 25, 25);
    align-items:center

}
.con{
  height: 100%;
  width:100%;
  background:rgb(158, 110, 111);
}
body{
  background:rgb(158, 110, 111);
  display:flex;
  align-items: center;
  flex-direction: column;
}
table, th, td{
  border:1px solid rgb(71, 1, 1);
}
table{
  background-color:grey;
}
th{
  text-align: center;
  background-color:#530606;
}
tr:nth-child(even){background-color: #e78282;}
tr:hover{background-color:rgb(151, 86, 39);}
.item{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu{
  float: left;
  text-align: left;
  text-decoration: none;
  padding:1rem;
  background:rgb(170, 116, 116);
  color:rgb(41, 43, 124);
}

.header{
  width:100%;
  display: flex;
  justify-content: space-between;

}
.container{
  display: flex;

}
.nav{
  float: left;
  display:flex;
  justify-content: left;
  flex-direction: column;
}
.sidenav {
  
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: rgb(80, 74, 74); 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
}
  .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #a18e8e;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.menu:hover{
  background:rgba(220, 20, 60, 0.151);
}
.formularz{
  height:75px;
  width:300px;
  background:rgb(173, 156, 206);
}